
	header{
		background: #660000;
		position:fixed;
	    padding:20px;
	    left:0; 
	    right:0;
	    top:0;
	}
	footer {
		text-align: center;
	    padding: 40px;
	    background-color: #660000;
	    color: white;
	    position: fixed;
	    left: 0;
	    bottom: 0;
	    right : 0;
	}
	.slideshow-container {
		max-width: 1000px;
		position: relative;
		margin: auto;
	}
	.dot {
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}
	@-webkit-keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}

	@keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}
	
	a {
		text-decoration: none;
	    color: inherit;  
	}
	a:hover{
	    background-color: DarkSalmon;
	}
	.row{
		float: left;
	    margin-left:150px;
	}
	
	a{
		text-decoration:none;
		color:inherit;
	}
	.sides{
		margin-top: 20px;
		float: right;
		margin-right: 100px;
		color: white;
		font-size: 20px;
	}
	.logo{
		float: left;
		color: white;
		font-size: 50px;
	}

	
